#!/usr/bin/make -f
%:
	dh $@ --with python3 --buildsystem=pybuild
override_dh_autoinstall:
	python3 setup.py install --root=debian/WeatherApp --install-layout=deb --install-scripts=/usr/bin/
override_dh_auto_build:
